@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
}

body{
  background-color: #222;
  font-family: 'Indie Flower', cursive;
  height: 100%;
}

#root{
  height: 100%;
  display: flex;
  flex-direction: column;
}

nav{
  min-width: 100%;
  height: 69px;
  padding: 0 2rem;
  background-color: #111;
  color: white;
  font-size: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a{
  text-decoration: none;
  color: white;
}

.nav-links ul{
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.nav-links ul li {
  margin: 0 1rem;
  font-size: 1.5rem;
}

.container{
  padding: 2rem;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
}

.rectangle{
  font-size: 1.4rem;
  max-width: 200px;
  width: 200px;
  max-height: 200px;
  height: 300px;
  color: white;
  background-color: #111;
  margin: 1rem;
  position: relative;
}

.rectangle:hover{
  box-shadow: 0 0 5px black;
}

.padding{
  padding: 1rem;
}

.transition{
  transition: .3s all ease;
}

.pointer{
  cursor: pointer;
}

.no-overflow{
  overflow: hidden;
}

.note{
  overflow-y: auto;
  position: relative;
  padding-top: 2rem;
  height: 100%;
  word-break: break-word;
}

.options{
  opacity: 0.1;
  width: 100%;
  background-color: #222;
  padding: .3rem 0;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

.options:hover{
  opacity: 1;
}

.new-note-btn{
  font-size: 4rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .3s all ease;
}

.new-note-btn:hover{
  background-color: rgba(0, 0, 0, 0.3);
}

.new-note-btn div{
  font-size: 2rem;
}

.new-note-input{
  width: 100%;
  height: 100%;
  background-color: #111;
  border: none;
  color: white;
  outline: none;
  resize: none;
}

.new-note-btns{
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.new-note-add-btn{
  font-size: 1rem;
  padding: .5rem 1rem;
  background-color: #222;
  opacity: .3;
}

.new-note-add-btn:hover{
  opacity: 1;
}

.submit-btn{
  background-color: rgb(11, 123, 3);
}

.cancel-btn{
  background-color: rgb(152, 9, 9);
}

.backdrop{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.note-preview{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  overflow-y: auto;
  word-break: break-word;
  width: 500px;
  height: 500px;
  background-color: #222;
  z-index: 3;
  padding-right: 4rem;
}

.note-preview-cross{
  position: absolute;
  top: 1rem;
  right: 1rem;
}


@media screen and (max-width: 530px){
  .rectangle{
    min-width: 90%;
  }

  .note-preview{
    width: 90%;
    height: 90%;
  }
}